body{
    background-color:black;
}
h1{
    text-align: center;
    color: white;
}
h2{
    text-align: center;
    color: white;

}
.glowing-text {
    font-size: 2rem;
    text-shadow: 0 0 15px rgb(255, 0, 191), 0 0 20px rgb(255, 0, 191);
}


.glow-text {
    font-size: 3rem;
    color: white;
    transition: text-shadow 0.3s ease-in-out;
}

.glow-text:hover {
    text-shadow: 0 0 10px rgb(255, 0, 191), 0 0 20px rgb(255, 0, 191), 0 0 40px rgb(255, 0, 191);
}
